<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://unpkg.com/picnic" />
  </head>
  <body>
    <article  style="padding: 1em 1em;">
    {% block content %}
      <a href="/reset" class="button error">Reset Database</a>
      <div>
        <h2>Paste a URL to your project!</h2>
        <form action="/request" method="post">
        <input type="text" name="url" placeholder="Project URL">
        <input type="submit" value="Add Project">
        <br>
        </form>
      </div>
      <div>
        <form action="/predict" method="post">
          <select name="project">
            {% for project in projects %}
            <option value="{{ project.name }}">{{ project.name }}</option>
            {% endfor %}
          </select>
          <input type="submit" value="Predict">
        </form>
      </div>
    {% endblock %}
    </article>
</body>
</html>
